<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<title>Convertian-The coversion web</title>
<style type="text/css">

</style>
</head>
<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Convertian</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/">Home</a></li>
				
					
						</a>
						
						</ul></li>
					<li class="nav-item"><a class="nav-link disabled"></a>
					</li>
				</ul>
				<form class="d-flex">
					<a class="btn btn-outline-light" style='margin-right:16px'
						href="/signup" role="button">SignUp</a>
					
					<a class="btn btn-outline-light" style='margin-right:16px'
						href="/signin" role="button">SignIn</a>
				</form>
			</div>
		</div>
	</nav>
	<br>
	<br>
	
	<div class="container">
		
		<div class="d-grid gap-3">
			<a
			class="btn btn-outline-dark btn-lg"
			href="/length" role="button"><h3>LENGTH</h3>
			<h6>convert from different length units</h6></a> <a class="btn btn-outline-dark btn-lg"
			href="/area" role="button"><h3>AREA</h3>
			<h6>convert from different area units</h6></a> <a class="btn btn-outline-dark btn-lg"
			href="/volume" role="button"><h3>VOLUME</h3>
			<h6>convert from different volume units</h6></a> <a class="btn btn-outline-dark btn-lg"
			href="/temperature" role="button"><h3>TEMPERATURE</h3>
			<h6>convert from different temperature units</h6></a> <a
			class="btn btn-outline-dark btn-lg"
			href="/pressure" role="button"><h3>PRESSURE</h3>
			<h6>convert from different Pressure units</h6></a> <a
			class="btn btn-outline-dark btn-lg"
			href="/numbersystem" role="button"><h3>NUMBER
				SYSTEMS</h3>
			<h6>convert from different Number-Systems</h6></a> <a
			class="btn btn-outline-dark btn-lg"
			href="/power" role="button"><h3>POWER</h3>
			<h6>convert from different Power units</h6></a> <a
			class="btn btn-outline-dark btn-lg"
			href="/angle" role="button"><h3>ANGLE</h3>
			<h6>convert from different angle units</h6></a> <a class="btn btn-outline-dark btn-lg"
			href="/weight" role="button"><h3>WEIGHT</h3>
			<h6>convert from different Weight units</h6></a>
			<a class="btn btn-outline-dark btn-lg"
				href="/currency" role="button"><h3>CURRENCY</h3>
				<h6>convert your currencies</h6></a>

				<a class="btn btn-outline-dark btn-lg"
				href="/imagetopdf" role="button"><h3>IMG TO PDF</h3>
				<h6>CONVERT IMAGE TO PDF</h6></a>
                <a class="btn btn-outline-dark btn-lg"
				href="/pdftodoc" role="button"><h3>PDF to DOC</h3>
				<h6>CONVERT PDF TO DOC</h6></a>
                <a class="btn btn-outline-dark btn-lg"
				href="/doctopdf" role="button"><h3>DOC to PDF</h3>
				<h6>CONVERT DOC TO PDF </h6></a>
                <a class="btn btn-outline-dark btn-lg"
				href="/compressimage" role="button"><h3>COMPRESS IMAGE</h3>
				<h6>COMPRESS IMAGE</h6></a>
                
		</div>
	</div>
	<br>
</body>
</html>